@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


.pantalla--backend {
    width: 95%;
    height: 90%;
    background-color: $dark;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 1.2rem;
    filter: blur(4px);

    
    .down-arrow-white-backend {
        color: $white;
        position: absolute;
        bottom: 3rem;
        right: 2rem;
    }

    h2 {
        margin: 1.6rem 0rem;
        font-size: 1.5rem;
        color: $green;

        span {
            font-size: 1.5rem;
            color: $white;
        }
    }

    &  p {
        color: $green;
    }

    .backend__project {
        display: flex;
        flex-direction: column;


        &__title {
            display: flex;
            align-items: center;
            cursor: pointer;

            .title-text-container {
                display: flex;

                .title-text {
                    color: $white;
                }
            }

            p {
                margin-left: 0.3rem;         
            }

            .backend-arrow {
                color: $white;
            }
        }
        &__description__container {
            margin-left: 2.5rem;
            
        }
    }
}

.en-proceso{
    background-color: $green;
    @include text($fredoka, 1rem, $violet);
    text-align: center;
    position: fixed;
    top: 40vh;
    width: 60%;
    padding: 2rem;
}