
section {
    display: flex;
    /* position: relative; */
    overflow-x: hidden;    
}

.logos {
    fill: $dark;
    margin-right: 5%;
    margin-bottom: 5%;

    @media (min-width: 0px)  {
        height: 2rem;
    }

    @media (min-width: 992px)  {
        height: 3rem;
    }
}

.mostrar {
    display: block;
}

.noMostrar {
    display:  none !important ;
}

.hidden {
    opacity: 0;
}


.foto-mia {
    height: 100%;
}

.cartel{
    position: fixed;
    bottom: 2rem;
    left: 10%;
    padding: 1rem;
    background-color: $violet;
    @include text($gantari, 1rem, $white);
    transition: all ease-in-out;
    border-radius: 0.2rem;
    width: 70%;
    z-index: 199;
}

.alien-warning{
    position: fixed;
    z-index: 200;
    bottom: 2rem;
    right: 10%;
    width: 20%;
    height: auto;
    transition: all ease-in-out;

}


