<button>No me aprietes</button>

<p>
  Cuando lo aprieten que salga el alien que se asoma, ponga el dedo sobre la
  pantalla y se ponga todo blanco como encandilado. Y despues que se ponga todo
  negro estrellado como el espacio y se vea solo el formulario de contacto.
</p>
