<div class="language">
  <div class="language__buttons">
    <a href="/en" class="language__buttons__left" id="en">EN</a>
    <a href="/" class="language__buttons__right" id="es">ES</a>
  </div>
</div>
