@import 'base/variables';
@import 'base/text';
@import 'base/contenedores';
@import 'components/main';
@import 'components/header';
@import 'components/footer';
@import 'components/index';
@import 'components/queHago';
@import 'components/frontendModal';
@import 'components/backendModal';
@import 'components/creativoModal';
@import 'components/animaciones';
@import 'components/aboutMe';
@import 'components/musicPlayer';
@import 'components/myStory';
@import 'components/ovni';
@import 'components/language';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    
}

html {
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.alien-nuevo{
    position: absolute;
    width: 150px;
    height: 176px;
    top: 200px;
    left: 0;
    animation: fade-in-alien 700ms forwards ease-out;
    
}




