---
import "../styles/Style.scss";

import Header from "../components/landing/Header.astro";
const { language } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Portfolio frontend web developer Gonzalo Cebrero"
    />
    <meta property="og:title" content="Gonzalo Cebrero - Portfolio" />
    <meta
      property="og:description"
      content="Portfolio frontend web developer Gonzalo Cebrero. Contiene proyectos, conocimientos y tecnologías"
    />
    <meta
      property="og:image"
      content="https://www.gonzacebre.com.ar/media/img/proyectos/portfolio/portfolio-desktop.png"
    />
    <meta
      name="google-site-verification"
      content="ndb2rIxKZc3q_PZsprzF1fO6mUD3u9GbcUrsK-7jX8E"
    />
    <!--FONTAWESOME-->
    <script
      src="https://kit.fontawesome.com/83302aaa73.js"
      crossorigin="anonymous"></script>
    <!--ANIMATE CSS-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <!--CSS-->
    <!-- <link rel="stylesheet" href="../styles/Style.scss" /> -->
    <title>Gonzalo Cebrero</title>
  </head>
  <body>
    <Header language={language} />
    <slot />
  </body>
</html>
