---
import Heart from "../../media/music/Heart.mp3";
---

<div class="music-player">
  <div class="music-container">
    <div class="music-info">
      <h4 id="title">Title</h4>
      <div class="progress-container">
        <div class="progress"></div>
      </div>
    </div>

    <audio src={Heart} id="audio"></audio>

    <div class="navigation">
      <button id="prev" class="action-btn">
        <i class="fas fa-backward"></i>
      </button>
      <button id="play" class="action-btn action-btn-big">
        <i class="fas fa-play"></i>
      </button>
      <button id="next" class="action-btn">
        <i class="fas fa-forward"></i>
      </button>
    </div>
  </div>
</div>
