//Fonts
@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@200;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');


$fredoka: 'Fredoka One', cursive;
$gantari: 'Gantari', sans-serif;
$walter: "Walter Turncoat", cursive;

//Colors
$green : #83e18c;
$pink: #c179c6;
$lightBlue: #e9d077;
$violet: #5c499e;
$dark: #161616;
$white: #ffffff;


